<template>
  <section>
    <section
      class="d-flex flex-wrap justify-content-around justify-content-sm-between align-items-center"
    >
      <div v-for="(meal, index) in mealsList" :key="index" class="meal-list">
        <meal-item-component :meal="meal" />
      </div>
    </section>
    <section>
      <button-top-page-component :url="url" />
    </section>
  </section>
</template>

<script src="@b/MealBusiness.js"></script>

<style scoped lang="scss">
@import '~@/assets/scss/top-page/meal';
</style>
