<template>
  <section>
    <div class="meal-list__img">
      <a href="javascript:void(0)">
        <b-img :src="meal.image" />
      </a>
    </div>
    <div class="meal-list__info">
      <a href="javascript:void(0)">
        <span>{{ meal.date + ' ' + meal.title }}</span>
      </a>
    </div>
  </section>
</template>

<script>
export default {
  name: 'MealItemComponent',
  props: {
    meal: {
      type: Object
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/assets/scss/top-page/meal';
</style>
