$backgroundColorMain: #414141;

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 50px;
  min-height: 128px;
  padding: 0.5rem 10%;
  background-color: $backgroundColorMain !important;

  a.nav-link {
    padding: 1rem;
    color: #ffffff !important;
    text-decoration: none;

    &:hover {
      font-weight: 700;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navbar-expand .navbar-nav {
    flex-direction: column;
  }
}
