$backgroundColorMain: #414141;
$backgroundBright: #ff963c;

.navbar {
  padding: 0.5rem 10%;
  background-color: $backgroundColorMain !important;

  .navbar-brand {
    padding: 0;
  }

  .nav-link {
    padding: 0;

    a {
      color: #ffffff !important;
      text-decoration: none;

      &:hover {
        color: $backgroundBright !important;
      }
    }

    a.router-link-exact-active {
      color: #ff963c !important;
    }
  }
}

.navbar__navbar-nav {
  flex-direction: row;

  .nav-item {
    padding: 0 1.5rem;
  }
}

.navbar-dark .navbar-toggler {
  color: $backgroundColorMain;
  border-color: $backgroundColorMain;
}

.btn-collapse {
  position: relative;
  padding: 0;
  border-color: $backgroundColorMain;

  &:focus {
    outline: none;
  }
}

.bg-blue-bright {
  background-color: $backgroundBright;
}

.hamburger {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &:hover {
    cursor: pointer;
  }

  &__item {
    height: 2px;
    width: 100%;
    background: $backgroundBright;
    transition: transform 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 300ms linear;

    &--first {
      .hamburger--is-open & {
        transform: translate(0, 8px) rotate(45deg);
      }
    }

    &--middle {
      .hamburger--is-open & {
        opacity: 0;
      }
    }

    &--last {
      .hamburger--is-open & {
        transform: translate(0, -6px) rotate(-45deg);
      }
    }
  }
}

#navbar-toggle-collapse {
  position: absolute;
  z-index: 999;
  top: 80%;
  right: 10%;
  min-width: 200px;
  background-color: #777777;

  ul > li {
    border-bottom: 1px solid #8b8b8b;

    &:hover {
      background-color: #8b8b8b;
    }

    a {
      padding: 0.75rem 1.25rem;
      text-align: left;
      color: #ffffff;
    }
  }
}
