.hexagon-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.hexagon {
  width: 116px;
  height: 134px;
  overflow: hidden;
  visibility: hidden;
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg);
  cursor: pointer;
}

.hexagon-in1 {
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}

.hexagon-in2 {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #ff973c, #ffca22);
  visibility: visible;
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -ms-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);

  &:hover {
    background-image: linear-gradient(to bottom, #fda1a1, #fcd86a);
  }
}

.hexagon-content {
  div {
    line-height: 56px;
    height: 56px;
  }

  width: 56px;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 26%;
}

@media only screen and (max-width: 768px) {
  .hexagon-block__item {
    position: relative;
    height: 134px;
    width: 100%;

    .hexagon {
      position: absolute;
      top: 0;
      left: 32%;
    }
  }

  .hexagon-block {
    display: block !important;

    &__list {
      width: 50%;
      display: inline-block;
    }
  }
}

@media only screen and (max-width: 576px) {
  .hexagon-block__item {
    .hexagon {
      position: absolute;
      top: 0;
      left: 25%;
    }
  }
}

@media only screen and (max-width: 420px) {
  .hexagon-block__item {
    .hexagon {
      position: absolute;
      top: 0;
      left: 15%;
    }
  }
}
