.meal-list {
  position: relative;
  margin: 0.25rem;

  &__img {
    img {
      background-repeat: no-repeat;
      background-size: cover;
      width: 234px;
      height: 234px;

      &:hover {
        opacity: 0.7;
      }
    }
  }

  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #ffcc21;
    width: 120px;
    line-height: 30px;
    padding: 2px 4px;

    a {
      text-decoration: none;
      color: #ffffff;
      font-weight: 400;
      font-size: 1rem;

      &:hover {
        font-weight: 700;
      }
    }
  }
}
