<template>
  <section>
    <div class="chart-group row">
      <div class="chart-group__circle-chart col-md-5">
        <circle-chart-component />
      </div>
      <div class="chart-group__line-chart col-md-7">
        <line-chart-component />
      </div>
    </div>
  </section>
</template>

<script>
import LineChartComponent from '@/components/Chart/LineChartComponent'
import CircleChartComponent from '@/components/Chart/CircleChartComponent'

export default {
  name: 'ChartComponent',

  components: {
    LineChartComponent,
    CircleChartComponent
  }
}
</script>

<style scoped lang="scss">
.chart-group {
  padding: 0;
  margin: 0;
  height: 280px;

  &__circle-chart,
  &__line-chart {
    padding: 0;
  }

  &__circle-chart {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/public/img/m01.jpg');
  }
}

@media only screen and (max-width: 768px) {
  .chart-group {
    height: 560px;
  }
}
</style>
