<template>
  <section class="progress-bar-chart">
    <Progress
      class="progress-bar-chart__info"
      :strokeColor="circleConfig.strokeColor"
      :radius="circleConfig.radius"
      :strokeWidth="circleConfig.strokeWidth"
      :value="circleConfig.value"
    >
      <template v-slot>
        <div class="d-flex justify-content-center align-items-baseline">
          <span>{{ date }}</span>
          <h1>{{ circleConfig.value + '%' }}</h1>
        </div>
      </template>
    </Progress>
  </section>
</template>
<script>
import Progress from 'easy-circular-progress'

export default {
  name: 'CircleChartComponent',

  components: {
    Progress
  },

  data() {
    return {
      date: '05/21'
    }
  },

  computed: {
    circleConfig() {
      return {
        strokeColor: '#ffffff',
        radius: 80,
        strokeWidth: 3,
        value: 75
      }
    }
  }
}
</script>

<style scoped lang="scss">
.progress-bar-chart {
  height: 100%;
  position: relative;

  &__info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    span,
    h1 {
      color: #ffffff;
    }
  }
}

@media only screen and (max-width: 768px) {
  .progress-bar-chart {
    height: 280px;
  }
}
</style>
