<template>
  <div class="chart">
    <canvas id="line-chart"></canvas>
  </div>
</template>

<script src="@b/LineChartBusiness.js"></script>

<style scoped lang="scss">
.chart {
  height: 100%;

  #line-chart {
    background-color: #2e2e2e;
  }
}

@media only screen and (max-width: 768px) {
  .chart {
    height: 280px;
  }
}
</style>
