<template>
  <section class="d-flex justify-content-center align-items-center my-4">
    <base-button-component :isClick="isClick" @action="getMealList">
      記録をもっと見る
    </base-button-component>
  </section>
</template>

<script>
import BaseButtonComponent from '@/components/Base/BaseButtonComponent'
import axios from 'axios'

export default {
  name: 'ButtonTopPageComponent',

  props: {
    url: {
      type: String
    }
  },

  data() {
    return {
      isClick: false
    }
  },

  components: {
    BaseButtonComponent
  },

  methods: {
    async getMealList() {
      try {
        if (this.isClick) {
          return
        }

        this.isClick = true

        const { data } = await new Promise((resolve) =>
          setTimeout(async () => {
            this.isClick = false
            resolve(await axios.get(this.url))
          }, 1000)
        )

        this.$store.commit('meal/APPEND_MEAL_LIST', data)
      } catch (e) {
        // Handle error
      }
    }
  }
}
</script>

<style scoped lang="scss">
.button {
  width: 296px;
  height: 56px;
  background-image: linear-gradient(to right, #ffcc21, #ff963c);
  border: none;
  color: #ffffff;
}
</style>
