<template>
  <section>
    <b-navbar-nav class="navbar__navbar-nav">
      <b-nav-item
        v-for="(navItem, indexNav) in navItemsPC"
        :key="indexNav"
        href="javascript:void(0)"
      >
        <b-img :src="navItem.icon" />
        <router-link :to="navItem.name">
          {{ navItem.title }}
        </router-link>
      </b-nav-item>
      <b-navbar-toggle
        class="btn-collapse pl-2"
        target="navbar-toggle-collapse"
        @click="hamburgerOpen = !hamburgerOpen"
      >
        <div
          :class="hamburgerOpen ? 'hamburger--is-open' : ''"
          class="hamburger"
        >
          <div class="hamburger__item hamburger__item--first"></div>
          <div class="hamburger__item hamburger__item--middle"></div>
          <div class="hamburger__item hamburger__item--last"></div>
        </div>
      </b-navbar-toggle>
    </b-navbar-nav>

    <b-collapse id="navbar-toggle-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item
          v-for="(menuItem, indexMenu) in menuItemsSMP"
          :key="indexMenu"
          href="javascript:void(0)"
          @click="hamburgerOpen = !hamburgerOpen"
        >
          <router-link :to="menuItem.name">
            {{ menuItem.title }}
          </router-link>
        </b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </section>
</template>

<script>
export default {
  name: 'NavBarComponent',

  props: {
    navItemsPC: {
      type: Array
    },
    menuItemsSMP: {
      type: Array
    }
  },

  data() {
    return {
      hamburgerOpen: false
    }
  }
}
</script>

<style scoped lang="scss">
@import '~@/assets/scss/header';
</style>
