<template>
  <section class="hexagon-block my-4">
    <section
      class="hexagon-block__list"
      v-for="(meal, index) in mealsOfTheDayItems"
      :key="index"
    >
      <div class="hexagon-block__item">
        <div class="hexagon">
          <div class="hexagon-in1">
            <div class="hexagon-in2">
              <div class="hexagon-content">
                <div>
                  <b-img :src="meal.icon" />
                </div>
                <span class="text-white">
                  {{ meal.title }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'HexagonComponent',

  computed: {
    ...mapState({
      mealsOfTheDayItems: (state) => state.mealsOfTheDayItems || []
    })
  }
}
</script>

<style scoped lang="scss">
@import '~@/assets/scss/top-page/hexagon';
</style>
