<template>
  <section>
    <section>
      <chart-component />
    </section>

    <section class="container">
      <hexagon-component />

      <meal-list-component />
    </section>
  </section>
</template>

<script>
import HexagonComponent from '@/components/Hexagon/HexagonComponent'
import MealListComponent from '@/components/Meals/MealListComponent'
import ChartComponent from '@/components/Chart/ChartComponent'

export default {
  name: 'TheTopPage',

  components: {
    HexagonComponent,
    MealListComponent,
    ChartComponent
  }
}
</script>

<style scoped lang="scss">
.container {
  max-width: 1000px;
}
</style>
