<template>
  <section>
    <button class="button" :class="{ 'btn-disabled': isClick }" @click="action">
      <slot></slot>
      <BaseLoadingComponent :is-show="isClick" />
    </button>
  </section>
</template>

<script>
import BaseLoadingComponent from '@/components/Base/BaseLoadingComponent'
export default {
  name: 'BaseButtonComponent',

  components: {
    BaseLoadingComponent
  },

  props: {
    isClick: {
      type: Boolean
    }
  },

  methods: {
    action() {
      this.$emit('action')
    }
  }
}
</script>

<style scoped lang="scss">
.button {
  position: relative;
  width: 296px;
  height: 56px;
  background-image: linear-gradient(to right, #ffcc21, #ff963c);
  border: none;
  color: #ffffff;
  border-radius: 4px;

  &:hover {
    opacity: 0.8;
  }
}

.btn-disabled {
  cursor: not-allowed;
}
</style>
