<template>
  <b-navbar fluid toggleable type="dark" variant="dark">
    <b-navbar-brand href="javascript:void(0)">
      <router-link to="/">
        <b-img :src="logoImg" v-bind="configImg" />
      </router-link>
    </b-navbar-brand>

    <nav-bar :navItemsPC="navItemsPC" :menuItemsSMP="menuItemsSMP" />
  </b-navbar>
</template>

<script src="@b/TheHeaderBusiness.js"></script>

<style scoped lang="scss">
@import '~@/assets/scss/header';
</style>
