<template>
  <b-navbar>
    <b-navbar-nav>
      <b-nav-item v-for="(item, index) in navItemsFooter" :key="index">
        {{ item }}
      </b-nav-item>
    </b-navbar-nav>
  </b-navbar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'TheFooterComponent',

  computed: {
    ...mapState({
      navItemsFooter: (state) => state.navItemsFooter
    })
  }
}
</script>

<style scoped lang="scss">
@import '~@/assets/scss/footer';
</style>
