<template>
  <div id="app">
    <the-header-component />
    <router-view />
    <the-footer-component />
  </div>
</template>

<script>
import TheHeaderComponent from '@/components/Header/TheHeaderComponent'
import TheFooterComponent from '@/components/Footer/TheFooterComponent'

export default {
  components: {
    TheHeaderComponent,
    TheFooterComponent
  }
}
</script>

<style lang="scss">
@font-face {
  font-family: customFont;
  src: url('~@/assets/fonts/din1451alt.ttf'),
    url('~@/assets/fonts/din1451alt G.ttf');
}

body {
  font-family: customFont, sans-serif !important;
}
</style>
